.donation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.help {
  grid-column: 1;
}

.donations {
  grid-column: 2;
}

