.landing {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 90%;
  height: 15%;
  padding: 1em;
  margin: 0.5em;
  margin-top: 2.5em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  background-color: #04AFA8;
  color: #EFC465;
}
