.login {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input {
  width: 90%;
  justify-content: center;
  margin: 3%;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 2em;
}

.button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 90%;
  height: 15%;
  padding: 1em;
  margin: 0.5em;
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  background-color: #04AFA8;
  color: #EFC465;
}
