.results {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.results-title {
  color: #EFC465;
  margin: 0.5em 1.5em 0 1.5em;
}

.results-description {
  display: table;
  margin: 1.5em auto;
  color: #EFC465;
  font-size: 1.5em;
}

.final-button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 88%;
  height: 15%;
  padding: 1em;
  margin: 0.5em 0.5em 0 0;
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.final-button:hover {
  background-color: #04AFA8;
  color: #EFC465;
}
