.transactions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #04AFA8;
}

.transactions-title {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headers > h4 {
  margin-bottom: 0.2em;
}

.all-transactions {
  height: 30vh;
  overflow-y: scroll;
  margin: 0.5em;
  background-color: #653D7F;
  width: 93%;
}
