.signup {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2,
.dob-label{
  color: #EFC465;
}

.dob-label {
  font-weight: bolder;
}

input, .dropdown {
  width: 85%;
  justify-content: center;
  margin: 3% 1em 3% 0.3em;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 2em;
}

.dropdown {
  width: 90%;
}

#dob {
  width: 86%;
}

.button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 88%;
  height: 15%;
  padding: 1em;
  margin: 0.5em 1em 0 0;
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  background-color: #04AFA8;
  color: #EFC465;
}
