.geolocation {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: #EFC465;
}

.find-button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 88%;
  height: 15%;
  padding: 1em;
  margin: 0.5em 1em 0 0.5em;
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.next-button {
  background-color: #EFC465;
  color: #653D7F;
  border: none;
  width: 88%;
  height: 15%;
  padding: 1em;
  margin: 0.5em 1em 0 0.8em;
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

.find-button:hover,
.next-button:hover {
  background-color: #04AFA8;
  color: #EFC465;
}

#shift {
  margin-left: 0.8em;
}
